$color-pink: #F67599;
$color-gray-footer: #E5E5E5;
$color-gray-primary: #2A2A2A; // most of the text, icon color
$color-gray-primary-10: rgba(42, 42, 42, .1); // small device hr
$color-gray-secondary: #808080; // for footer anchor
$color-gray-disable: #AFB1BD; // for step
$color-gray-outline-button: #F0F0F5; // for chart button background, chart outline
$color-gray-horizontal-line: #E6E6EB;
$color-white: #fff;