@import 'color';
@import 'mixin';

$icons: fb, ig, tel;

footer {
  display: none;
}

@media screen and (min-width: 375px) {
  footer {
    display: block;
    width: 100%;
    height: 284px;

    background-color: var(--color-gray-footer);
  }

  .footer__container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    @include flex(flex, space-between, stretch);
  }

  .footer__container__item {
    height: 100%;
  }

  .footer__container__item--brand {
    @include flex(flex, center, center);
  }

  .footer__container__item--topic {
    margin-top: 64px;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 24px;
  }

  .footer__container__item--list {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--color-gray-secondary);
  }

  .footer__container__item--list li {
    margin-bottom: 8px;
  }

  .footer__container__item--list .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;

    @each $icon in $icons {
      &--#{$icon} {
        background: url('../images/icon-footer-#{$icon}.svg');
      }
    }
  }

  .icon+.icon {
    margin-left: 1rem;
  }
}