@mixin flex ($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border-solid-1px ($color) {
  border: 1px solid $color;
}

@mixin border-top-1px ($color) {
  border-top: 1px solid $color;
}