@import 'reset';
@import 'color';
@import 'mixin';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

// general setting start
.container {
  width: 100%;
  padding: 0 5%;
}

.title {
  margin-bottom: 1.5rem;
  color: var(--dark);
}

.form-section {
  padding: 1rem 0 2rem;
}

.btn {
  display: inline-block;
  flex: 1;
  height: 46px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary-outline {
  background-color: transparent;
  color: var(--dark);
}

.btn-primary {
  background-color: var(--primary-pink);
  color: #fff;
}

.t-align-left {
  text-align: left;
}
// general setting end

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;

  background-color: var(--white);
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  height: 56px;
  width: 100%;

  @include display-flex(space-between);

  background-color: var(--white);
}

.nav-toggle-label {
  height: 100%;
  
  @include display-flex(center, center);
}

.nav-toggle-label-icon {
  width: 24px;
  height: 24px;
  object-position: center center;
}

#navListToggle {
  display: none;
}

.header__nav {
  position: absolute;
  top: -400px;
  left: 0;

  width: 100%;

  background-color: var(--white);
  color: var(--dark);

  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;

  transition: opacity .3s;
}

.header__logo {
  flex: 1;
  @include display-flex(center, center);
}

.nav__list-container {
  width: 100%;
}

.nav__list-container.category {
  .nav__list-container__item {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;

    border-bottom: 1px solid var(--dark-10);

    a {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.nav__list-container.operation {
  @include display-flex(center, center);
  padding: 1rem 0;

  .nav__list-container__item {
    width: 24px;
    height: 24px;

    &+.nav__list-container__item {
      margin-left: clamp(1rem, 3vw, 40px);
    }
  }

  .nav__icon {
    width: 100%;
    height: 100%;
  }
}

// search input effect start
.search-container {
  position: relative;
}

.search-input-label {
  position: relative;
  z-index: 1;

  &~.search-input {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 0;

    display: inline-block;
    width: 120px;
    height: 36px;

    border: none;
    outline: none;

    background-color: var(--chart-qty-btn);
    color: inherit;
    font-family: inherit;
    text-indent: .75rem;

    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s ease-out;

    &:focus {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &:hover~.search-input,
  &:active~.search-input {
    opacity: 1;
  }
}
// search input effect end

.dark-mode-switch-label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#darkModeSwitch {
  display: none;
}

// nav list toggle transform
#navListToggle:checked~.header__nav {
  top: 100%;
  opacity: 1;
  transform: scale(1, 1);
}

main {
  margin-top: 56px;
}

.progress-bar {
  width: 100%;
  height: 80px;
  margin: 1rem auto 2rem;

  @include display-flex(flex-start, center);
}

.step-item {
  flex: 1 1;
  @include display-flex(flex-start, center);
  
  overflow: hidden;
}

.step-item:not(:first-child) {
  padding-left: 1rem;
}

.step-item:last-child {
  flex: none;
}

.icon,
.content {
  display: inline-block;
}

.icon {
  flex: none;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 1px solid var(--progress-icon-gray);
  background-color: transparent;

  text-align: center;
  line-height: 32px;
  color: var(--progress-icon-gray);
}

.step-item:not(:last-child) {
  .content {
    position: relative;
    height: 32px;
    line-height: 32px;
  }

  .content::after {
    content: "";
    position: absolute;
    top: 16px;
    left: calc(100% + 1rem);

    width: 99999px;
    height: 2px;

    background-color: var(--progress-icon-gray);
  }
}

.content-text {
  display: none;
  margin-left: 0.5rem;
  color: var(--progress-icon-gray);
}

// progress bar status start
.step-item.active {
  .icon {
    border: none;
    background-color: var(--dark);
    color: var(--white);
  }

  .content::after {
    background-color: var(--dark);
  }

  .content-text {
    color: var(--dark);
  }
}

.step-item.complete {
  .icon {
    background-color: #333;
    color: #fff;
    border: none;
  }

  .content::after {
    background-color: var(--dark);
  }

  .content-text {
    color: var(--dark);
  }
}
// progress bar status end

.row-group.title-and-name {
  display: flex;
  @include display-flex();

  .title {
    flex-basis: 30%;
    margin-right: 1rem;
  }

  .name {
    flex: 1;
  }
}

.form-row {
  margin-bottom: 1rem;

  &>label {
    display: block;
    margin-bottom: .75rem;

    font-size: 12px;
    font-weight: bold;
    color: var(--form-label-text);
  }

  input, select {
    width: 100%;
    height: 40px;

    border: 1px solid var(--form-border);
    border-radius: 4px;

    // padding-like
    text-indent: .75rem;
    background-color: transparent;

    cursor: pointer;
  }

  select {
    -webkit-appearance: none;
    color: var(--dark);
  }

  option {
    background-color: var(--white);
  }

  select:invalid {
    color: var(--form-label-text);
  }
}

.select-wrapper {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: -1;
    transform: translateY(-50%);

    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: var(--select-triangle) transparent transparent transparent;
  }
}

.delivery-method {
  .form-row {
    position: relative;
    width: 100%;
    height: 60px;

    @include display-flex(flex-start, center);
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 1rem;

    -webkit-appearance: none;
    border-radius: 50%;
    background-color: var(--radio-btn-bg);
    border-color: var(--radio-btn-border);

    &:checked {
      background-color: #fff;
      box-shadow: inset 0 0 0 5px var(--radio-btn-checked);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      border-radius: 4px;
      border: 1px solid var(--radio-border);
      transition: .2s;
    }

    &:hover::after,
    &:checked::after {
      border-color: var(--radio-border-checked);
    }
  }

  label {
    flex: 1;
    margin-bottom: unset;

    font-size: 14px;
    font-weight: normal;
    color: var(--dark);
  }

  .deliver-method {
    font-weight: bold;
  }

  .price {
    margin-right: 1rem;

    font-size: 12px;
    color: var(--dark);
  }
}

.row-group.card-expDate-and-cvc {
  @include display-flex(space-between, center);

  .form-row {
    height: 100%;
    flex: 1;

    &+.form-row {
      margin-left: 1rem;
    }
  }
}

.chart {
  margin-bottom: 2rem;
  padding: 1rem;

  border-radius: 4px;
  border: 1px solid var(--chart-border);

  background-color: var(--chart-bg);
  color: var(--dark);
}

.chart-title {
  display: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.chart-item {
  margin-bottom: 1rem;
  @include display-flex(space-between);
}

.chart-image {
  width: 100px;
  height: 100px;

  border-radius: 4px;
  object-fit: cover;
  object-position: center center;
}

.chart-panel {
  flex: 1;
  @include display-flex(space-between);
  flex-direction: column;

  text-align: right;
}

.chart-item-title {
  margin-bottom: .5rem;
}

.chart-item-qty {
  margin: 0 1rem;
}

.qty-btn {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 50%;

  line-height: 26px;
  text-align: center;
  font-weight: bold;

  color: var(--chart-qty-btn-text);
  background-color: var(--chart-qty-btn);

  cursor: pointer;
}

.chart-item-price {
  font-weight: bold;
}

.delivery-cost,
.order-sum {
  width: 100%;
  height: 60px;

  @include display-flex(space-between, center);

  border-top: 1px solid var(--chart-border);
}

.btn-group {
  @include display-flex(flex-start, center);

  padding: 2rem 0;
  border-top: 1px solid var(--btn-group-border);
}

footer {
  display: none;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0 10%;
  }

  header {
    height: 60px;
  }

  main {
    margin-top: 60px;
  }

  .nav-toggle-label {
    display: none;
  }

  .header__nav {
    position: static;

    @include display-flex(space-between);

    transform: unset;
    opacity: 1;
  }

  .nav__list-container {
    width: auto;
  }

  .nav__list-container.category {
    @include display-flex();

    .nav__list-container__item {
      width: auto;
      border: none;

      &+.nav__list-container__item {
        margin-left: clamp(.25rem, 1vw, 32px);
      }
    }
  }

  .nav__list-container.operation {
    justify-content: flex-end;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .content-text {
    display: inline-block;
  }

  .progress-bar {
    margin-bottom: 0;
  }

  .form-wrapper {
    @include display-flex(space-between, flex-start);

    .form-section-group {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    .chart {
      flex-basis: 40%;
      flex-shrink: 0;
    }
  }

  .row-group.tel-and-email,
  .row-group.city-and-address {
    @include display-flex();

    .form-row {
      flex: 1;

      &+.form-row {
        margin-left: 1rem;
      }
    }
  }

  .chart {
    margin-top: calc(46px + 40px);
    padding: 2rem 1.5rem 1rem;
  }

  .chart-title {
    display: block;
  }

  .btn-group {
    width: 50%;
    justify-content: space-between;

    .btn {
      flex: unset;
      width: 174px;
    }

    .btn.d-none {
      display: inline-block;
      visibility: hidden;
    }
  }

  footer {
    height: 284px;

    @include display-flex(space-between, flex-start);

    background-color: var(--footer-bg);
    color: var(--footer-text);
  }

  .footer-title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
  }

  .footer-section {
    a {
      display: block;
      margin-bottom: .25rem;
    }

    &.logo {
      align-self: center;
      flex-basis: 30%;
      flex-shrink: 0;
    }
  }

  .footer-title {
    margin: 2rem 0 1rem;
  }

  .footer-tel {
    margin-bottom: .5rem;
  }

  .social-media {
    a {
      display: inline-block;

      &+a {
        margin-left: 16px;
      }
    }
  }
}

// trumps setting start
.d-none {
  display: none;
}
// trumps setting end