@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import 'reset';
@import 'nav';
@import 'footer';

@import 'color';

%container {
  width: 90%;
  margin: 0 auto;
}

%input-and-select-style {
  height: 40px;
  width: 100%;
  padding-left: 1rem;
  border: 1px solid $gray-4A;
  border-radius: 4px;
  background-color: transparent;
}

%input-and-select-placeholder {
  font-size: 12px;
  color: $gray-99;
}

.d-none {
  display: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.main-title {
  @extend %container;
  
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: bold;
}

.stepper {
  @extend %container;
}

.stepper-list {
  display: flex;
}

.stepper-list__item {
  position: relative;
  flex: 1;
}

.stepper-list__item--icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  border-radius: 50%;

  border: 1px solid $gray-AFB1BD;
  color: $gray-AFB1BD;  
}

@for $i from 1 through 3 {
  .stepper-list__item:nth-child(#{$i}) {
    .stepper-list__item--icon::before {
      content: '#{$i}';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

// progress line
.stepper-list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 16px;
  left: calc(50% + 16px + .5rem);

  display: block;
  width: calc(100% - 32px - 1rem);
  height: 1px;

  background-color: $gray-AFB1BD;
}

.stepper-list__item--text {
  display: none;
}

// completed and active state styles
.stepper-list__item.completed {
  &::after {
    background-color: $gray-2A;
  }

  .stepper-list__item--icon {
    border-color: $gray-2A;
    background-color: $gray-2A;
    color: $white;
  }

  .stepper-list__item--icon::before {
    content: '\2713';
  }
}

.stepper-list__item.active {
  &::after {
    background-color: $gray-2A;
  }

  .stepper-list__item--icon {
    border-color: $gray-2A;
    background-color: $white;
    color: $gray-2A;
  }
}

.form__section {
  @extend %container;

  h2 {
    margin: 1rem 0;
    font-size: 24px;
    font-weight: bold;
    color: $gray-2A;
  }
}

.form__section__row {
  display: inline-block;
  width: 100%;
  margin: 0 auto 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 12px;
    font-weight: bold;
    color: $gray-80;
  }

  input {
    @extend %input-and-select-style;

    &::-webkit-input-placeholder {
      @extend %input-and-select-placeholder;
    }
  }

  select {
    @extend %input-and-select-style;
    -webkit-appearance: none;
    cursor: pointer;

    &:invalid {
      @extend %input-and-select-placeholder;
    }
  }

  .select-wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1rem;
      z-index: -1;
      border-top: 9px solid $gray-2A;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transform: translateY(-50%);
    }
  }
}

.form__section__row--title {
  width: 30%;
}

.form__section__row--name {
  width: 64%;
  float: right;
}

.form__section--delivery {
  .form__section__row {
    position: relative;
    display: flex;
    align-items: center;
  }

  .radio-checked-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $gray-F0F0F5;
    border-radius: 4px;
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;

    margin: 20px;

    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid $gray-2A;
    cursor: pointer;

    &:checked {
      box-shadow: inset 0 0 0 6px $gray-2A;
    }

    &:checked~.radio-checked-wrapper {
      border-color: $gray-2A;
    }
  }

  label {
    margin-bottom: 0;
    flex: 1;
    font-size: 14px;
    color: $black;
  }
}

.form__section__row__delivery-label {
  position: relative;
}

.form__section__row__delivery-label--cost {
  position: absolute;
  right: 1rem;
  top: 0;
}

.money-sign::before {
  content: '$';
}

.form__section__row--cardExpirationDate,
.form__section__row--cardCVC {
  width: 48%;
}

.form__section__row--cardCVC {
  float: right;
}

.form__section.buttons-group {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 2rem 5%;
  background-color: $white;

  &::before {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top: 0;
    border-top: 1px solid $gray-E6E6EB;
  }
}

.form__section__button {
  flex: 1;
  height: 46px;
  border-radius: 8px;
}

.form__section__button--previous {
  background-color: transparent;

  &::before {
    content: '\2190';
    margin-right: 1rem;
    font-size: 14px;
  }
}

.form__section__button--next {
  background-color: $primary;
  color: $white;

  &::before {
    content: '\2192';
    margin-right: 1rem;
    font-size: 14px;
  }
}

.chart {
  @extend %container;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  border: 1px solid $gray-F0F0F5;
  border-radius: 8px;

  h2 {
    display: none;
  }
}

.chart__section {
  display: flex;
  justify-content: space-between;
}

.chart__section+.chart__section {
  margin-top: 1rem;
}

.chart__section__image {
  width: 100px;
  height: 100px;
}

.chart__section__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  
  flex: 1;
}

.chart__section__description--item-name {
  font-size: 16px;
  color: $gray-2A;
}

.chart__section__description--item-qty {
  width: 140px;
  display: flex;
  justify-content: space-between;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

.qyt-minus,
.qty-plus {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: $gray-F0F0F5;
}

.chart__section__description--item-price,
.chart__section--delivery__price,
.chart__section--sum__price {
  font-size: 16px;
  font-weight: bold;
  color: $black;
}

.chart__section--delivery,
.chart__section--sum {
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid $gray-F0F0F5;
}

@media screen and (min-width: 375px) {
  main {
    min-height: 782px;
  }
  
  .stepper,
  .form,
  .chart {
    display: block;
  }

  .stepper {
    width: calc(50vw * 0.9);
    margin-left: 5%;
  }

  .stepper-list__item--icon,
  .stepper-list__item--text {
    display: inline-block;
  }

  .stepper-list__item--text {
    margin: .5rem auto 0;
    text-align: center;
    color: $gray-AFB1BD;
  }

  // progress line
  .stepper-list__item:not(:last-child)::after {
    left: calc(32px + 64px + 1rem);
    width: calc(100% - 32px - 64px - 2rem);
  }

  .completed,
  .active {
    .stepper-list__item--text {
      color: $gray-333;
    }
  }

  .form {
    width: calc(50vw * 0.9);
    height: calc(494px - 61px);
    margin-left: 2.5%;

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .form__section__row--tel,
  .form__section__row--email {
    width: 48%;
  }

  .form__section__row--email {
    float: right;
  }

  .form__section__row--city {
    width: 30%;
  }

  .form__section__row--address {
    width: 64%;
    float: right;
  }

  .form__section__row--cardHolder,
  .form__section__row--cardNumber {
    width: 70%;
  }

  .form__section.buttons-group {
    position: relative;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem 5%;
  }

  .form__section__button {
    width: 174px;
    flex: unset;
  }

  .chart {
    position: absolute;
    top: calc(60px + 16px + 32px + 24px);
    right: 5%;
    width: 40vw;

    h2 {
      display: block;
      margin: 1rem 0 2rem;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .chart__section+.chart__section {
    margin-top: 2rem;
  }

  .chart__section__description {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .chart__section__description--item-name {
    margin-bottom: 1rem;
  }

  .chart__section__description--item-price {
    position: absolute;
    top: 0;
    right: 0;
  }

  .chart__section--sum {
    margin-bottom: 1rem;
  }
}