* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
}

ul, li {
  list-style: none;
}

// reset end

:root {
  --white: #fff;
  --dark: #2A2A2A;
  --dark-10: rgba(42, 42, 42, .1);
  --progress-icon-gray: #AFB1BD;
  --progress-line-gray: #F0F0F5;
}

[data-theme="dark"] {
  --white: #121212;
  --dark: #fff;
  --dark-10: rgba(255, 255, 255, .1);
  --progress-icon-gray: #C4C4C4;
  --progress-line-tray: #D8D8D8;
}

.container {
  width: 100%;
  padding: 0 5%;
}

.title {
  color: var(--dark);
}

// general setting end

html, body {
  height: 100%;

  // for checking usage
  background-color: var(--white);
  color: rgb(243, 126, 208);
}

header {
  position: fixed;
  top: 0;
  left: 0;

  height: 56px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: var(--white);
}

.nav-toggle-label {
  height: 100%;
  padding-left: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle-label-icon {
  width: 24px;
  height: 24px;
  object-position: center center;
}

#navListToggle {
  display: none;
}

.header__nav {
  position: absolute;
  top: -400px;
  left: 0;

  width: 100%;

  background-color: var(--white);
  color: var(--dark);

  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;

  transition: opacity .3s;
}

.header__logo {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list-container {
  width: 100%;
}

.nav__list-container.category {
  .nav__list-container__item {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;

    border-bottom: 1px solid var(--dark-10);

    a {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.nav__list-container.operation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  .nav__list-container__item {
    width: 24px;
    height: 24px;
  }
  
  .nav__list-container__item+.nav__list-container__item {
    margin-left: 40px;
  }

  .nav__icon {
    width: 100%;
    height: 100%;
  }
}

// nav list toggle transform
#navListToggle:checked~.header__nav {
  top: 100%;
  opacity: 1;
  transform: scale(1, 1);
}

#darkModeSwitch {
  display: none;
}

main {
  margin-top: 56px;
}

.progress-bar {
  width: 100%;
  height: 80px;
  margin: 1rem auto 2rem;

  display: flex;
  align-items: center;
}

.step-item {
  flex: 1 1;
  overflow-x: hidden;

  display: flex;
  align-items: center;
}

.step-item:not(:first-child) {
  padding-left: 1rem;
}

.step-item:last-child {
  flex: none;
}

.icon,
.content {
  display: inline-block;
}

.icon {
  flex: none;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 1px solid var(--progress-icon-gray);
  background-color: transparent;

  text-align: center;
  line-height: 32px;
  color: var(--progress-icon-gray);
}

.step-item:not(:last-child) {
  .content {
    position: relative;
    height: 32px;
    line-height: 32px;
  }

  .content::after {
    content: "";
    position: absolute;
    top: 16px;
    left: calc(100% + 1rem);

    width: 99999px;
    height: 2px;

    background-color: var(--progress-icon-gray);
  }
}

.content-text {
  display: none;
  margin-left: 0.5rem;
  color: var(--progress-icon-gray);
}

// status
.step-item.active {
  .icon {
    border: none;
    background-color: var(--dark);
    color: var(--white);
  }

  .content::after {
    background-color: var(--dark);
  }

  .content-text {
    color: var(--dark);
  }
}

.step-item.complete {
  .icon {
    background-color: #333;
    color: #fff;
    border: none;
  }

  .content::after {
    background-color: var(--dark);
  }

  .content-text {
    color: var(--dark);
  }
}

@media screen and (min-width: 375px) {
  header {
    height: 60px;
  }

  main {
    margin-top: 60px;
  }

  .nav-toggle-label {
    display: none;
  }

  .header__nav {
    position: static;

    display: flex;
    justify-content: space-between;

    transform: unset;
    opacity: 1;
  }

  .nav__list-container {
    width: auto;
  }

  .nav__list-container.category {
    display: flex;

    .nav__list-container__item {
      width: auto;
      border: none;
    }

    .nav__list-container__item+.nav__list-container__item {
      margin-left: clamp(.25rem, 1vw , 32px);
    }
  }

  .nav__list-container.operation {
    justify-content: flex-end;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .content-text {
    display: inline-block;
  }
}