/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 56px;
  width: 100%;
}

.header__nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.header__menu--label {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: fixed;
  top: 18px;
  left: clamp(17px, 10%, 20px);
  z-index: 99;
  background: url("../images/icon-nav-menu.svg");
  cursor: pointer;
}

#header__menu {
  position: fixed;
  top: -20px;
  left: -20px;
}

.header__nav__categories {
  width: 100%;
  position: absolute;
  top: -400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__categories--item {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.header__nav__categories--item::after {
  content: '';
  width: 90%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 5%;
  background-color: rgba(42, 42, 42, 0.1);
}

.header__nav__actions {
  width: 100%;
  position: absolute;
  top: -400px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__actions .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon {
  margin: 0 1rem;
  cursor: pointer;
}

.icon--search {
  background: url("../images/icon-nav-search.svg");
}

.icon--chart {
  background: url("../images/icon-nav-chart.svg");
}

.icon--mode-switch {
  background: url("../images/icon-nav-to-dark-mode.svg");
}

#header__menu:checked ~ .header__nav .header__nav__categories {
  top: 100%;
}

#header__menu:checked ~ .header__nav .header__nav__actions {
  top: calc(56px + 300px + 1rem);
}

@media screen and (min-width: 375px) {
  header {
    height: 60px;
  }
  .header__menu--label {
    position: fixed;
    top: -40px;
    left: -40px;
  }
  .header__nav,
  .header__nav__categories,
  .header__nav__brand,
  .header__nav__actions {
    all: unset;
  }
  .header__nav,
  .header__nav__categories,
  .header__nav__actions {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav__categories--item {
    width: auto;
  }
  .header__nav__categories--item::after {
    display: none;
  }
  .header__nav__categories--item + .header__nav__categories--item {
    margin-left: 1rem;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}
/*# sourceMappingURL=main.css.map */